// PADDING

.pt-bg {
  padding-top: 5rem;
}
.pt-sm {
  padding-top: 3rem;
}
.pt-xm {
  padding-top: 2rem;
}

.px-bg {
  padding-left: 8rem;
  padding-right: 8rem;
}
.px-sm {
  padding-left: 3rem;
  padding-right: 2rem;
}
.px-xm {
  padding-left: 2rem;
  padding-right: 2rem;
}

// MARGIN

.mt-bg {
  margin-top: 4rem;
}
.mt-sm {
  margin-top: 3rem;
}
.mt-xm {
  margin-top: 2rem;
}


.mb-bg {
  margin-bottom: 4rem;
}
.mb-sm {
  margin-bottom: 3rem;
}
.mb-xm {
  margin-bottom: 2rem;
}

.mr-bg {
  margin-right: 4rem;
}
.mr-sm {
  margin-right: 3rem;
}
.mr-xm {
  margin-right: 2rem;
}

// MARGIN_LEFT
.ml-bg {
  margin-left: 4rem;
}
.ml-sm {
  margin-left: 3rem;
}
.ml-xm {
  margin-left: 2rem;
}
