.banner {
  margin: auto;
  color: $color-white;
  text-align: center;

  min-height: 550px;
  max-height: 500px;
  // height: 100vh;

  @include respond(phone){

    min-height: 400px;
    // min-height: 333px;
  }

  font-size: 3rem;
  background-image: url("./assets/landing_page.png");
  background-position: bottom;
  background-size: cover;
  width: 100%;
  // max-width: 100%;
  @include respond(phone) {
    font-size: 2rem;
    background-color: $color-primary;
  }

  &__container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 4rem;
  }
  &__text-sm {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
  }

  &__text-bg {
    font-size: 3rem;
    font-weight: 800;

    @include respond(phone) {
      font-size: 2rem;
    }
  }

  &__text-xm {
    font-size: 1rem;
    line-height: 1.8;
  }

  &__store-container {
    display: flex;
    justify-content: center;
  }

  &__store-link {
    width: 12.42rem;

    &:not(:last-child) {
      margin-right: 1.2rem;
    }

    @include respond(phone){
      width:25rem;
    }
  }
  &__store {
    width: 100%;
  }
}
