.partners {
  
  // background-color: red;
  margin-bottom: 3rem;
  width: 100%;
  padding-top: 20rem;

  &__container {
    // padding-top: 14rem;
  }

  &__box {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    @include respond(res-port) {
      margin: auto;
      width: 75%;
    }
    @include respond(phone) {
      width: 90%;
      margin: auto;
    }
  }

  &__text {
    text-align: center;
  }

  &__img-box {
    flex: 0 1 10%;
    &:not(:last-child) {
      margin-right: 0.8rem;
    }
  }

  &__img {
    width: 100%;
  }
}
