.register {
  &__container {
    margin-top: -5rem;

    @include respond(phone) {
      margin-top: 2rem;
    }
  }

  &-box {
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__content-box {
    flex-basis: 66.66666666666666%;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 66.66666666666666%;

    @include respond(phone) {
      flex-basis: 1 0 100%;
      max-width: 100%;
      text-align: center;
    }
  }

  &__link {
    padding: 1.4rem 5rem;
    color: $color-white;
    font-size: 1.14rem;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    align-self: center;
    display: flex;
    flex-basis: 33.333%;
    max-width: 33.333%;
    border-radius: 4.59292px;

    @include respond(phone) {
      flex-basis: 100%;
      max-width: 100%;
      padding: 1.5rem 3.5rem;
      margin-top: 0.7rem;
    }
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 2.14rem;
    line-height: 184.6%;

    @include respond(phone) {
      font-size: 1.5rem;
    }
  }
}

.purple {
  color: $color-primary;
}
