@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&display=swap");
.paragraph {
  font-size: 1.14rem;
  font-weight: 800;
  font-family: "Lato", sans-serif;
}

.line {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 1.14rem;
  line-height: 2.14rem;
}
.line-dark {
  color: #353448;
}
.line-white {
  color: #ffffff;
}

.h2 {
  font-size: 3.87rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.h2-dark {
  color: #353448;
}
.h2-white {
  color: #ffffff;
}
.h2-small {
  font-family: inherit;
  font-style: normal;
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.5;
  color: #353448;
}
@media (max-width: 37.5em) {
  .h2-small {
    font-size: 2rem;
  }
}
@media (max-width: 37.5em) {
  .h2 {
    font-size: 2rem;
  }
}

.pt-bg {
  padding-top: 5rem;
}

.pt-sm {
  padding-top: 3rem;
}

.pt-xm {
  padding-top: 2rem;
}

.px-bg {
  padding-left: 8rem;
  padding-right: 8rem;
}

.px-sm {
  padding-left: 3rem;
  padding-right: 2rem;
}

.px-xm {
  padding-left: 2rem;
  padding-right: 2rem;
}

.mt-bg {
  margin-top: 4rem;
}

.mt-sm {
  margin-top: 3rem;
}

.mt-xm {
  margin-top: 2rem;
}

.mb-bg {
  margin-bottom: 4rem;
}

.mb-sm {
  margin-bottom: 3rem;
}

.mb-xm {
  margin-bottom: 2rem;
}

.mr-bg {
  margin-right: 4rem;
}

.mr-sm {
  margin-right: 3rem;
}

.mr-xm {
  margin-right: 2rem;
}

.ml-bg {
  margin-left: 4rem;
}

.ml-sm {
  margin-left: 3rem;
}

.ml-xm {
  margin-left: 2rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  line-height: 1;
  font-family: inherit;
}

html {
  font-size: 87.5%;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  overflow: scroll;
  overflow-x: hidden;
}
@media (max-width: 75em) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 62.5%;
  }
}

.landing {
  height: 110vh;
  display: flex;
  position: relative;
  width: 100vw;
}
.landing__container {
  background-image: url("./assets/landing_page.png");
  background-position: bottom;
  background-size: cover;
  width: 100%;
}
@media (max-width: 37.5em) {
  .landing__container {
    background-color: #3e46a7;
  }
}
.landing__overlay-container {
  max-width: 100%;
}
.landing__overlay-box {
  position: absolute;
  left: 13%;
  bottom: -76%;
  z-index: 1;
  width: 80%;
  height: 90%;
  background-color: #ffffff;
  box-shadow: -1.36732px -1.36732px 0px rgba(255, 255, 255, 0.6);
  border-radius: 20.5099px;
}
.landing__div {
  height: auto;
  width: 100vw;
  height: 90%;
  display: flex;
  justify-content: flex-end;
  background-color: red;
}
.landing__img-box {
  max-width: 85%;
  width: 85%;
  height: 100%;
  background-image: url("./assets/landing_img.png");
  background-repeat: none;
  background-size: cover;
  position: absolute;
  top: 95%;
  z-index: 100;
}
.landing__img {
  width: 100%;
}

.main {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 4.26%);
  width: 100%;
  z-index: 1000;
  position: relative;
  bottom: -15rem;
  display: flex;
}

.feature {
  width: 100vw;
  background-image: url("./assets/feature_bg.png");
  background-size: cover;
  background-position: 50%;
  padding-bottom: 22rem;
  padding-top: 10rem;
  position: relative;
  background-color: transparent;
}
@media (max-width: 37.5em) {
  .feature {
    background-color: #3e46a7;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.feature__container {
  position: relative;
}
.feature__div {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 37.5em) {
  .feature__div {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.feature__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 1 48.3333333333%;
  max-width: 58%;
}
@media (max-width: 37.5em) {
  .feature__content {
    flex-basis: 100%;
    max-width: 100%;
    text-align: center;
    margin-top: 3rem;
  }
}
.feature__title {
  width: 100%;
  line-height: 1.3;
}
@media (max-width: 37.5em) {
  .feature__title {
    font-size: 1.14rem;
  }
}
.feature__text {
  color: #ffffff;
  line-height: 2;
}
.feature__img {
  flex-basis: 41.6666666667%;
  align-self: center;
  max-width: 41%;
}
@media (max-width: 37.5em) {
  .feature__img {
    flex-basis: 100%;
    max-width: 100%;
  }
}
.feature__link {
  align-self: start;
}
@media (max-width: 37.5em) {
  .feature__link {
    align-self: center;
  }
}

.testimonial {
  width: 100%;
}
@media (max-width: 37.5em) {
  .testimonial {
    display: none;
  }
}
.testimonial__title-box {
  text-align: center;
  margin: 4rem;
}

.container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  margin: auto;
  padding: 6rem;
  width: 100%;
}
@media (max-width: 56.25em) {
  .container {
    padding: 4rem;
  }
}
@media (max-width: 37.5em) {
  .container {
    padding: 3rem;
  }
}

.btn {
  border-radius: 4px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}
.btn__white {
  background-color: #ffffff;
  font-size: 1.4rem;
  color: #3e46a7;
  font-weight: 800;
  padding: 1rem 1.6rem;
}
.btn__plan {
  padding: 1rem;
  font-size: 1rem;
}
.btn__plan-purple {
  background-color: #3e46a7;
  color: white;
}
.btn__plan-white {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: #3D3D3D;
}

.header {
  width: 100%;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 56.25em) {
  .header__container {
    padding: 3rem 6rem 0 6rem !important;
  }
}
.header__img-box {
  width: 4rem;
  margin-right: auto;
}
.header__img {
  width: 100%;
}
.header__link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
}
@media (max-width: 37.5em) {
  .header__show {
    display: none;
  }
}
.header__hamburger {
  cursor: pointer;
  display: none;
}
@media (max-width: 37.5em) {
  .header__hamburger {
    display: block;
  }
}

.banner {
  width: 80%;
  margin: auto;
  color: #ffffff;
  text-align: center;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}
.banner__text-sm {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
}
.banner__text-bg {
  font-size: 3rem;
  font-weight: 800;
}
@media (max-width: 37.5em) {
  .banner__text-bg {
    font-size: 2rem;
  }
}
.banner__text-xm {
  font-size: 1rem;
  line-height: 1.8;
}
.banner__store-container {
  display: flex;
  justify-content: center;
}
.banner__store-link {
  width: 12.42rem;
}
.banner__store-link:not(:last-child) {
  margin-right: 1.2rem;
}
.banner__store {
  width: 100%;
}

.partners {
  margin-bottom: 3rem;
  width: 100%;
}
.partners__container {
  padding-top: 20rem;
}
.partners__box {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
@media (max-width: 37.5em) {
  .partners__box {
    width: 90%;
    margin: auto;
  }
}
.partners__text {
  text-align: center;
}
.partners__img-box {
  flex: 0 1 10%;
}
.partners__img-box:not(:last-child) {
  margin-right: 0.8rem;
}
.partners__img {
  width: 100%;
}

.plans {
  width: 100%;
  display: flex;
}
.plans__container-box {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 37.5em) {
  .plans__container-box {
    flex-direction: column;
  }
}
.plans__img {
  width: 100%;
  display: block;
  height: 100%;
  flex: 0 1 50%;
  max-width: 50%;
  align-self: center;
}
@media (max-width: 37.5em) {
  .plans__img {
    display: none;
  }
}
.plans__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 3rem;
  align-self: flex-end;
  flex: 1 0 50%;
}
@media (max-width: 37.5em) {
  .plans__content {
    flex: 1 0 100%;
    text-align: center;
  }
}
.plans__title {
  font-size: 3.87rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #353448;
}
.plans__text {
  text-align: left;
  display: flex;
}
@media (max-width: 37.5em) {
  .plans__text {
    width: 80%;
    margin: auto;
    text-align: center;
    color: #cecece;
    margin-bottom: 0;
  }
}
@media (max-width: 37.5em) {
  .plans__btn {
    display: none;
  }
}
.plans__layout {
  display: flex;
  margin-top: 5rem;
}
@media (max-width: 37.5em) {
  .plans__layout {
    flex-direction: column;
    margin-top: 3rem;
  }
}
.plans__timeline-box {
  position: relative;
}
.plans__timeline {
  height: 10.2rem;
  width: 6px;
  background: rgba(62, 70, 167, 0.2);
  position: relative;
  border-radius: 10px;
}
@media (max-width: 37.5em) {
  .plans__timeline {
    width: 80%;
    height: 6px;
    margin: auto;
    align-self: stretch;
  }
}
.plans__timeline::before {
  content: "";
  background-color: #3e46a7;
  height: 33.33%;
  width: 100%;
  position: absolute;
  z-index: 4;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
@media (max-width: 37.5em) {
  .plans__timeline::before {
    width: 33.33%;
    height: 100%;
  }
}
.plans__timeline-0:before {
  top: 0;
}
@media (max-width: 37.5em) {
  .plans__timeline-0:before {
    left: 0;
  }
}
.plans__timeline-1:before {
  top: 33.33%;
}
@media (max-width: 37.5em) {
  .plans__timeline-1:before {
    left: 33.33%;
  }
}
.plans__timeline-2::before {
  top: 66.66%;
}
@media (max-width: 37.5em) {
  .plans__timeline-2::before {
    left: 66.66%;
  }
}
.plans__timeline-types {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 2rem;
}
@media (max-width: 37.5em) {
  .plans__timeline-types {
    flex-direction: row;
    margin: 1.5rem;
  }
}

.portfolio {
  width: 100%;
  font-family: "Lato", sans-serif;
}
.portfolio__box {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 37.5em) {
  .portfolio__box {
    flex-direction: column;
  }
}
.portfolio__img-box {
  flex: 0 1 70%;
  max-width: 70%;
  margin-right: 3rem;
}
@media (max-width: 37.5em) {
  .portfolio__img-box {
    flex: 1 0 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
  }
}
.portfolio__img {
  object-fit: contain;
  height: 8.2rem;
  width: 100%;
}
@media (max-width: 37.5em) {
  .portfolio__img {
    flex: 1 1 30%;
    width: 30%;
  }
}
.portfolio__img-1 {
  object-position: left;
}
@media (max-width: 37.5em) {
  .portfolio__img-1 {
    flex-basis: 50%;
    object-position: none;
  }
}
.portfolio__img-2 {
  object-position: 80%;
  margin-top: -10px;
  margin-bottom: 20px;
}
@media (max-width: 37.5em) {
  .portfolio__img-2 {
    flex-basis: 50%;
    object-position: none;
    margin: 0;
  }
}
.portfolio__img-3 {
  object-position: 25%;
}
@media (max-width: 37.5em) {
  .portfolio__img-3 {
    flex-basis: 100%;
    justify-content: stretch;
    object-position: none;
  }
}
.portfolio__content-box {
  flex: 0 1 70%;
  max-width: 70%;
}
@media (max-width: 37.5em) {
  .portfolio__content-box {
    flex: 0 1 100%;
    max-width: 100%;
    margin-top: 3rem;
  }
}
.portfolio__content {
  width: 80%;
}
@media (max-width: 37.5em) {
  .portfolio__content {
    width: 100%;
    text-align: center;
  }
}
.portfolio__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.5;
  color: #353448;
}
.portfolio__text {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 184.6%;
  color: #353448;
}
@media (max-width: 37.5em) {
  .portfolio__text {
    color: #cecece;
    width: 80%;
    margin: auto;
    text-align: center;
  }
}

.savings {
  width: 100%;
  background-color: #3e46a7;
  font-family: "Lato", sans-serif;
}
.savings__box {
  position: relative;
}
.savings__range-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  justify-content: space-around;
  height: 4.5rem;
}
.savings__input {
  width: 100%;
  display: block;
}
.savings__value-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.savings__value {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 184.6%;
  color: #ffffff;
  opacity: 0.5;
}
@media (max-width: 37.5em) {
  .savings__value {
    font-size: 0.9rem;
  }
}
.savings__total-box {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  flex-wrap: wrap;
}
.savings__save-item h3 {
  font-size: 2.63rem;
}
@media (max-width: 37.5em) {
  .savings__save-item h3 {
    font-size: 2rem;
  }
}
.savings__save-item p {
  font-size: 1.4rem;
}
@media (max-width: 37.5em) {
  .savings__save-item p {
    font-size: 1rem;
  }
}
.savings__link {
  align-self: center;
}
@media (max-width: 37.5em) {
  .savings__btn {
    flex-basis: 100%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    margin: 4rem auto;
  }
}

.carousel {
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  display: flex;
}
@media (max-width: 37.5em) {
  .carousel {
    background: rgba(62, 70, 167, 0.1);
  }
}
.carousel__container {
  margin-top: -5rem;
}
.carousel__say {
  display: none;
}
@media (max-width: 37.5em) {
  .carousel__say {
    display: block;
    margin: 3rem auto 0 auto;
    text-align: center;
  }
}
.carousel__user {
  padding: 3rem 4rem;
  background: rgba(62, 70, 167, 0.1);
  display: flex;
  width: 90%;
  margin: auto;
}
@media (max-width: 37.5em) {
  .carousel__user {
    flex-direction: column;
    background: none;
    justify-content: center;
    width: 100%;
  }
}
.carousel__img-box {
  margin-right: 3rem;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
@media (max-width: 37.5em) {
  .carousel__img-box {
    flex: 0 1 100%;
    max-width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
}
.carousel__img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  max-height: 200px;
  min-height: 200px;
}
.carousel__content {
  align-self: center;
  flex: 1 1 50%;
  max-width: 50%;
}
@media (max-width: 37.5em) {
  .carousel__content {
    max-width: 100%;
    flex: 1 1 100%;
    text-align: center;
  }
}
.carousel__text {
  font-size: 1.14rem;
  line-height: 29.54px;
  font-weight: 500;
}
@media (max-width: 37.5em) {
  .carousel__text {
    color: #cecece;
  }
}
.carousel__name {
  margin-top: 1rem;
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 33.23px;
}
.carousel__title {
  font-style: italic;
}

.active {
  background-color: #3e46a7;
}

.register__container {
  margin-top: -5rem;
}
@media (max-width: 37.5em) {
  .register__container {
    margin-top: 2rem;
  }
}
.register-box {
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 37.5em) {
  .register-box {
    flex-direction: column;
  }
}
.register__content-box {
  flex-basis: 66.6666666667%;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  max-width: 66.6666666667%;
}
@media (max-width: 37.5em) {
  .register__content-box {
    flex-basis: 1 0 100%;
    max-width: 100%;
    text-align: center;
  }
}
.register__link {
  padding: 1.4rem 5rem;
  color: #ffffff;
  font-size: 1.14rem;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  align-self: center;
  display: flex;
  flex-basis: 33.333%;
  max-width: 33.333%;
  border-radius: 4.59292px;
}
@media (max-width: 37.5em) {
  .register__link {
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem 3.5rem;
    margin-top: 0.7rem;
  }
}
.register__text {
  font-style: normal;
  font-weight: normal;
  font-size: 2.14rem;
  line-height: 184.6%;
}
@media (max-width: 37.5em) {
  .register__text {
    font-size: 1.5rem;
  }
}

.purple {
  color: #3e46a7;
}

.footer {
  background-color: #3e46a7;
  z-index: 100000;
  position: relative;
  margin-top: 14rem;
  font-size: 1.14rem;
}
.footer__container-box {
  padding-top: 4rem !important;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 37.5em) {
  .footer__container {
    flex-wrap: wrap;
  }
}
.footer__investa-box {
  flex: 0 0 35%;
  max-width: 35%;
}
@media (max-width: 37.5em) {
  .footer__investa-box {
    order: 1;
    flex-basis: 100%;
    max-width: 100%;
    margin-top: 2rem;
  }
}
.footer__investa {
  width: 100%;
  margin-right: 2rem;
}
@media (max-width: 37.5em) {
  .footer__investa {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}
.footer__investa-img {
  margin-bottom: 1.5rem;
}
@media (max-width: 37.5em) {
  .footer__investa-img {
    align-self: flex-start;
  }
}
.footer__content-box {
  margin-top: 2rem;
}
@media (max-width: 37.5em) {
  .footer__content-box {
    margin-top: 1rem;
  }
}
.footer__content-box a {
  color: #ffffff;
  text-decoration: none;
}
.footer__office-box {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
@media (max-width: 37.5em) {
  .footer__office-box {
    flex-basis: 50%;
    align-items: flex-start;
  }
}
.footer__office-link {
  border-bottom: 1px solid #ffffff;
  margin-top: -4rem;
}
.footer__title {
  font-style: normal;
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #ffffff;
}
.footer__legal-box {
  flex: 0 0 16%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
@media (max-width: 37.5em) {
  .footer__legal-box {
    flex-basis: 50%;
    align-items: flex-end;
  }
}
.footer__link-box {
  flex: 0 0 25%;
  max-width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
@media (max-width: 37.5em) {
  .footer__link-box {
    display: none;
    align-items: flex-end;
  }
}
.footer__social {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 37.5em) {
  .footer__social {
    display: none;
  }
}
.footer__social-show {
  display: none;
}
@media (max-width: 37.5em) {
  .footer__social-show {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 37.5em) {
  .footer__social-show a {
    margin-right: 2.1rem;
  }
}

.text {
  width: 90%;
}

.show {
  display: none;
}
@media (max-width: 37.5em) {
  .show {
    display: block;
    margin-bottom: 1rem;
  }
}

/*# sourceMappingURL=index.css.map */
